{% extends 'layout.html' %}
{% block menu %}
<li><a href="/">Home</a></li>
<li class="menu-active"><a href="/check">Check</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
<section class="result">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="shadow">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="boxtitle">
                      <h5 class="title-left">
                          Diagnosis Result
                      </h5>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6 col-md-5">
                      <div class="result-img">
                          <img src="../static/img/black.jpg" alt="진단되는 병 사진을 넣으면 어떨까">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div>
                          Lung cancer
                      </div>
                  </div>
              </div>
              <div class="prob">
                <p class="title-s">Probability</p>
                <span>Lung cancer</span> <span class="pull-right">90%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>pneumonia</span> <span class="pull-right">5%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>tuberculosis</span> <span class="pull-right">3%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 3%" aria-valuenow="3" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>etc</span> <span class="pull-right">2%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-md-7">
              <div>
                <div class="boxtitle">
                  <h5 class="title-left">
                    Details
                  </h5>
                </div>
                <p class="lead">
                  어떻고 저떻고,, 블라블라
                </p>
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                      <div class="result-img">
                          <img src="../static/img/black.jpg" alt="종양사진(폐암이면)">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div>
                          블라블라..바로 여기서 종양이 발견
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                      <div class="result-img">
                          <img src="../static/img/black.jpg" alt="종양사진(폐암이면)">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div>
                          블라블라..바로 여기서도! 종양이 발견
                      </div>
                  </div>
                </div>
                <p class="lead">
                    블라블라 이 병을 이겨내려면
                </p>
              </div>
            </div>
            <div class="more">
              <div class="boxtitle">
                  <h5 class="title-left">
                    More
                  </h5>
              </div>
                <p class="lead">
                    어떻고 저떻고 할 말 있음 여기에 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하가나다라마바사아자차카타파하
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}