{% extends 'layout.html' %}
{% block menu %}
<li><a href="/">Home</a></li>
<li class="menu-active"><a href="/check">Check</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
<section class="result" style="background-image:url('../static/img/background2.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="shadow">
          <div class="row">
            {% if check_message_test != 'empty'%}
            <div class="col-md-6">
                  <div class="boxtitle">
                      <h5 class="title-left">
                          Diagnosis Result 
                      </h5>
                  </div>
              <div class="row">
                  <div class="col-sm-6 col-md-5">
                      <img src="../static/img/{{ filepath }}">
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-md-7">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="boxtitle">
                      <h5 class="title-left">
                          Detail
                      </h5>
                  </div>
                </div>
              </div>
              <div class="prob">
                <p class="title-s">Probability</p>
                <span>Lung cancer</span> <span class="pull-right">{{ LC }}%</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" id="lungcancer" role="progressbar" style="width:{{ LC }}%" aria-valuenow="{{ LC }}" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>Nodule</span> <span class="pull-right">{{ n }}%</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" id="nodule" role="progressbar" style="width:{{ n }}%" aria-valuenow="{{ n }}" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>Covid-19</span> <span class="pull-right">{{ c }}%</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" id="covid" role="progressbar" style="width:{{ c }}%" aria-valuenow="{{ c }}" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                {% if result == 'cancer' %}
                <br><p class="title-s">Symtoms of lung cancer</p>
                <ul>
                  <li><span>cough</span></li>
                  <li><span>bloody phlegm</span></li>
                  <li><span>shortness of breath</span></li>
                  <li><span>chest pain</span></li>
                </ul>
                {% elif result == 'covid-19' %}
                <br><p class="title-s">Symtoms of covid-19</p>
                <ul>
                  <li><span>fever</span></li>
                  <li><span>dry cough</span></li>
                  <li><span>shortness of breath</span></li>
                </ul>
                {% elif result == 'nodule' %}
                <br><p class="title-s">Symtoms of covid-19</p>
                <span>There's no symptoms,<br>but there's a risk of developing cancer.</span>
                {% elif result == 'You are healty!' %}
                <br><p class="title-s">{{ result }}</p>
                <span>This is really good news.<br>Congratulations!<br></span>
                {% endif %}
                <br><p class="title-s">We Love You</p>
                <span>This is just speculation.<br>We hope you visit the hospital and have a work-up.</span>
              </div>
            </div>
            {% else %}
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <h1> No File </h1>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}