{% extends 'layout.html' %}
{% block menu %}
<li><a href="/">Home</a></li>
<li><a href="/check">Check</a></li>
<li class="menu-active"><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
<section id="main">
    <div class="main-container">
        <h1> Contact Us </h1>
        <h2>Thanks for your interest in we_lung_u.<br>
            If you have any inquires, send a mail through below link.</h2>
        
        <a href="mailto:hyoj0420@gmail.com"><font face=sans-serif color="#868e96">[&nbsp;SEND MAIL&nbsp;]</font></a>
    </div>
  </section>
{% endblock%}