{% extends 'layout.html' %}
{% block menu %}
<li><a href="/">Home</a></li>
<li><a href="/check">Check</a></li>
<li class="menu-active"><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
<section id="main">
    <div class="main-container">
        <h1> Contact Us </h1>
        <h2>Thanks for your interest in we_lung_u.<br>
            If you have any inquires, send a mail through below button.</h2>
        
        <button onclick="location.href='mailto:hyoj0420@gmail.com';" class="btn-check-2">
            <span style="font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 13px;">
                SEND MAIL
            </span></button>
    </div>
  </section>
{% endblock%}