{% extends 'layout.html' %}
{% block menu %}
<li class="menu-active"><a href="/">Home</a></li>
<li><a href="/check">Check</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
<section id="main">
  <div class="main-container" style="background-image:url('../static/img/background2.jpg');">
    <h1> Do you have healthy lungs? </h1>
    <h2> Check your lungs with we_lung_u right now</h2>
    <form action="/predict" method = "POST" enctype = "multipart/form-data">
      <input class="filename" value="file.." disabled="disabled">
      <label for="up_file" class = "btn-check">Upload..</label>
      <input type = "file" name = "file" id="up_file" class="upload"/ >
      <br>
      <input type="submit" value="Check!" class="btn-check-2"/>
    </form>
  </div>
</section>
{% endblock%}