<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>WE_LUNG_U - {{ title }}</title>
    {% else %}
      <title>WE_LUNG_U</title>
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WE_LUNG_U</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <!-- Main Stylesheet File -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

     <!-- Google Fonts -->
    <!-- 폰트 예쁜걸로 바꾸기-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">
  </head>
 
  <body>
    <header id="header" >
      <div class="container">
        <div id="logo" class="pull-left">
          <h1><a href="/" >WE_<span>LUNG</span>_U</a></h1>
        </div>
  
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            {% block menu %}{% endblock%}
          </ul>
         </nav>
      </div>
    </header>

 
    <!-- usable space -->
    {% block content %}{% endblock %}
  

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>