{% extends 'layout.html' %}
{% block menu %}
<li class="menu-active"><a href="/">Home</a></li>
<li><a href="/check">Check</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
<section id="main">
  <div class="main-container">
    <h1> TEAM C677 </h1>
    <table>
        <tr>
            <td colspan=3 style="font-size: 14px; font-family: 'Roboto';">
                <a herf="https://github.com/C677"><font color="#868e96">Github</font></a>&emsp;
                <a herf="https://flagly.org/projects/4/home/"><font color="#868e96">Flagly</font></a>
            <br><br><br></td>
        </tr>
        <tr style="color:#868e96; font-size:16px; font-family:'Roboto';">
            <td width="250"> Hyojung Chang </td>
            <td width="250"> Jonggeun Park </td>
            <td width="250"> Minju Lee </td>
        </tr>
        <tr><td colspan=3><br></td></tr>
        <tr>
            <td style="border-right: 1px solid;">
                Team Leader, Full-Stack<br>
                Email : hyoj0420@gmail.com<br>
                Nationality: Republic of Korea<br>
            </td>
            <td style="border-right: 1px solid;">
                Full-Stack<br>
                Email : whdrms5826@gmail.com<br>
                Nationality: Republic of Korea<br>
            </td>
            <td>
                Full-Stack<br>
                Email : dptmfkdls120@gmail.com<br>
                Nationality: Republic of Korea<br>
            </td>
        </tr>
    </table>
    </form>
  </div>
</section>
{% endblock%}